@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* http://www.fontsaddict.com/font/eurostar-regular-extended.html - first "eurostar regular extended webfont" google result, message if copyright infrigement */
@font-face {
  font-family: 'Eurostar';
  font-weight: normal;
  src: local('Eurostar'), url('/font/eurostar-regular-extended.ttf');
}

body {
  background: #222;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Myriad Pro", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
}

.container {
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -400px;
}

h1, h4 {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  color: #eee;
  padding: 25px 0;
}

article {
  position: absolute;
  top: 115px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  color: #222;
}

#left {
  width: 300px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #666;
}

#right {
  width: 500px;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
}

#left ul {
  color: #eee;
  list-style: none;
  margin: 0;
  padding: 0;
}

#left li {
  padding: 5px;
  display: block;
  font-size: 18px;
  cursor: pointer;
}

#left li:first-child {
  font-weight: 600;
}

#left li.active {
  background: #222;
}

#left li span {
  float: right;
  font-size: 12px;
}

#left li span:after {
  content: " MINS";
}

#left li span.active:after {
  content: " MINS REMAINING";
}

#right ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#right ul.show {
  display: block;
}

#right li {
  margin: 0;
  padding: 15px;
  position: relative;
  cursor: default;
}

#right li:hover {
  background: #444;
  color: #eee;
}

#right li span {
  display: block;
  clear: both;
}

#right li .class {
  position: absolute;
  text-transform: uppercase;
  top: 5px;
  right: 5px;
  font-size: 12px;
}

#right li .item {
  font-size: 18px;
  font-weight: 600;
}

#settings {
  position: absolute;
  width: 500px;
  top: 115px;
  left: 50%;
  margin-left: -250px;
  bottom: 0px;
  right: 0;
  background: white;
  z-index: 400;
  text-align: center;
}

#blacken {
  background: black;
  opacity: 0.5;
  position: absolute;
  z-index: 200;
  top: 115px;
  left: 0;
  right: 0;
  bottom: 0;
}

#settings, #blacken {
  display: none;
}

#settings #close {
  position: absolute;
  top: 0px;
  right: -20px;
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
  background: white;
}

#settings #close:hover {
  background: #222;
  color: #eee;
}

#settings footer {
  text-align: center;
  font-size: 12px;
}

@font-face {
    font-family: 'LigatureSymbols';
    src: url('/font/LigatureSymbols-2.11.eot');
    src: url('/font/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('/font/LigatureSymbols-2.11.woff') format('woff'),
         url('/font/LigatureSymbols-2.11.ttf') format('truetype'),
         url('/font/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('/font/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

#cog {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 15px 15px;
  padding-right: 10px;
  cursor: pointer;
}

#cog:hover {
  background: #eee;
  color: #222;
}

#cog:before {
  content: "\E055";
}

#real_time, #eorzea_time {
  font-family: "Eurostar", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
