@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  color: #222;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 930px;
  padding: 15px;
  padding-top: 0;
  margin: 0 auto;
}

.container > header {
  padding: 15px;
  margin-bottom: 15px;
  background: #222;
  color: #eee;
  position: relative;
}

.container > header p {
  padding: 50px;
  font-size: 40px;
}

.container > header p small {
  clear: both;
  display: block;
  font-size: 0.6em;
  padding-left: 55px;
}

.container > header a {
  color: #ffffff;
}

.container > header a.selected {
  text-decoration: none;
  font-weight: bold;
}

.container > header #timer {
  position: absolute;
  top: 5px;
  right: 5px;
  text-transform: uppercase;
  font-size: 10px;
  color: #aaa;
}

.container > header #timer span {
  color: #fff;
}

span.xiv, span.xiv span {
  display: inline-block;
  letter-spacing: -9px;
}

span.xiv span {
  vertical-align: 5px;
}

#status {
  font-size: 24px;
  width: 100%;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 15px;
}

article {
  display: inline-block;
  margin: 0 0 15px;
  width: 100%;
}

article header {
  background: #222;
  color: #eee;
  padding: 5px;
}

article figure {
  font-size: 0.8em;
  padding: 5px;
  display: block;
  position: relative;
  cursor: pointer;
}

article figure span:first-child, article figure span:nth-child(2) {
  display: none;
}

article figure.name span:first-child, article figure.ip span:nth-child(2) {
  display: inline-block;
}

article figure span:last-child:before {
  display: block !important;
  position: absolute;
  right: 9px;
  top: 9px;
  text-transform: uppercase;
  font-size: 12px;
}

article figure.offline {
  background: #777777;
}

article figure.offline:hover {
  background: #555555;
}

article figure.offline span:last-child:before {
  content: "Offline"
}

article figure.partial {
  background: #f0ad4e;
}

article figure.partial:hover {
  background: #ec971f;
}

article figure.partial span:last-child:before {
  content: "Partial"
}

article figure.maintenance {
  background: #d9534f;
}

article figure.maintenance:hover {
  background: #c9302c;
}

article figure.maintenance span:last-child:before {
  content: "Maintenance"
}

article figure.online {
  background: #5cb85c;
}

article figure.online:hover {
  background: #449d44;
}

article figure.online span:last-child:before {
  content: "Online"
}

article a {
  color: #222;
  text-decoration: none;
}

#hideif {
  color: #aaa !important;
}

@media all and (max-width: 600px) {
  .container > header p {
    padding: 0;
  }

  #status {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  #hideif {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .container > header p {
    text-align: center
  }

  .container > header p small {
    padding: 0;
  }
}

section {
  background: #222;
  color: #eee;
  margin-bottom: 15px;
  font-size: 21px;
  text-align: center;
  padding: 15px;
}

section b {
  display: block;
}

section, section > div {
  display: none;
}

#list #additional {
  display: none;
}

#list #toggle {
  background: #555;
  cursor: pointer;
  text-align: center;
}

#list #toggle:hover {
  background: #eee;
  color: #222;
}
