<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8"/>
    <title>X|V Heartbeat</title>
    <link rel="stylesheet" href="/style/application.css"/>
    <script src="/script/application.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <p>
          <span class="xiv">X<span>|</span>V</span> Heartbeat
          <small>
            Congratulations, you've found the world tracking page. Unfortunately this is still a work in progress and not yet ready for the public.
          </small>
        </p>
      </header>
    </div>
  </body>
</html>
